<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openstack"
      android:versionCode="1"
      android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="16"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    />

    <supports-screens android:resizeable="true"
                      android:smallScreens="true" 
                      android:normalScreens="true" 
                      android:largeScreens="true" 
                      android:anyDensity="true" />

    <application 
        android:allowBackup="false"
	android:label="DroidStack" 
	android:theme="@android:style/Theme.Holo.Light"
	android:icon="@drawable/openstack">

        <activity android:launchMode="singleInstance" android:name="org.openstack.MainActivity"
                  android:label="DroidStack"
                  android:configChanges="orientation|keyboardHidden|screenSize"
		  android:icon="@drawable/openstack">
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>

	<activity 
	    android:name="org.openstack.activities.CAFileExploreActivity"
	    android:launchMode="singleInstance"
	    android:label="Select CA File"
	    android:parentActivityName="org.openstack.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
	   />
	<activity
	    android:name="org.openstack.activities.UsersActivity" 
	    android:launchMode="singleInstance" 
	    android:label="@string/SELECTOSUSER" 
	    android:parentActivityName="org.openstack.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
	  />

	<activity 
	    android:name="org.openstack.activities.OSImagesActivity" 
	    android:launchMode="singleInstance" 
	    android:label="@string/MANAGEGLANCEIMG"
	    android:parentActivityName="org.openstack.MainActivity"
	    android:configChanges="orientation|keyboardHidden|screenSize"
	  />

        <activity
            android:name="org.openstack.activities.OverViewActivity" 
            android:launchMode="singleInstance" 
            android:label="@string/USAGEOVERVIEW"
	    android:parentActivityName="org.openstack.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
          />

        <activity
            android:name="org.openstack.activities.UserAddActivity" 
            android:launchMode="singleInstance" 
            android:label="@string/ADDNEWUSER"
	    android:parentActivityName="org.openstack.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
          />

       <activity
            android:name="org.openstack.activities.ServersActivity" 
            android:launchMode="singleInstance" 
            android:label="@string/MANAGENOVAINST"
	    android:parentActivityName="org.openstack.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
          />

       <activity
            android:name="org.openstack.activities.ImageLaunchActivity"
            android:launchMode="singleInstance"
            android:label="@string/LAUNCHIMAGE"
	    android:parentActivityName="org.openstack.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
       
       
       <activity
            android:name="org.openstack.activities.FloatingIPActivity"
            android:launchMode="singleInstance"
            android:label="@string/FLOATINGIP"
	    android:parentActivityName="org.openstack.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
    </application>
</manifest> 
