<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.stackdroid"
      android:versionCode="4"
      android:versionName="0.4.0 alpha">

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    />

    <supports-screens android:resizeable="true"
                      android:smallScreens="true" 
                      android:normalScreens="true" 
                      android:largeScreens="true" 
                      android:anyDensity="true" />

    <application 
        android:allowBackup="false"
	android:label="DroidStack" 
	android:theme="@android:style/Theme.Holo.Light"
	android:icon="@drawable/openstack">

        <activity android:launchMode="singleInstance" android:name="org.stackdroid.MainActivity"
                  android:label="DroidStack"
                  android:configChanges="orientation|keyboardHidden|screenSize"
		  android:icon="@drawable/openstack">
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>

	<activity 
	    android:name="org.stackdroid.activities.CAFileExploreActivity"
	    android:launchMode="singleInstance"
	    android:label="Select CA File"
	    android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
	   />
	<activity
	    android:name="org.stackdroid.activities.UsersActivity" 
	    android:launchMode="singleInstance" 
	    android:label="@string/SELECTOSUSER" 
	    android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
	  />

	<activity 
	    android:name="org.stackdroid.activities.OSImagesActivity" 
	    android:launchMode="singleInstance" 
	    android:label="@string/MANAGEGLANCEIMG"
	    android:parentActivityName="org.stackdroid.MainActivity"
	    android:configChanges="orientation|keyboardHidden|screenSize"
	  />

        <activity
            android:name="org.stackdroid.activities.OverViewActivity" 
            android:launchMode="singleInstance" 
            android:label="@string/USAGEOVERVIEW"
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
          />

        <activity
            android:name="org.stackdroid.activities.UserAddActivity" 
            android:launchMode="singleInstance" 
            android:label="@string/ADDNEWUSER"
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
          />

       <activity
            android:name="org.stackdroid.activities.ServersActivity" 
            android:launchMode="singleInstance" 
            android:label="@string/MANAGENOVAINST"
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|screenSize"
          />

       <activity
            android:name="org.stackdroid.activities.ImageLaunchActivity"
            android:launchMode="singleInstance"
            android:label="@string/LAUNCHIMAGE"
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
       
       <activity
            android:name="org.stackdroid.activities.FloatingIPActivity"
            android:launchMode="singleInstance"
            android:label="@string/FLOATINGIP"
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
       
       <activity
            android:name="org.stackdroid.activities.SecGrpActivity"
            android:launchMode="singleInstance"
            android:label="@string/SECGROUP"            
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
       
       <activity
            android:name="org.stackdroid.activities.EditSecGroupActivity"
            android:launchMode="singleInstance"
            android:label="@string/EDITSECGROUP"            
	    	android:parentActivityName="org.stackdroid.SecGrpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
       
       <activity
            android:name="org.stackdroid.activities.VolumesActivity"
            android:launchMode="singleInstance"
            android:label="@string/VOLUMES"            
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
       
       <activity
            android:name="org.stackdroid.activities.NeutronActivity"
            android:launchMode="singleInstance"
            android:label="@string/NETWORKS"            
	    	android:parentActivityName="org.stackdroid.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
           />
       
    </application>
</manifest> 
